*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

/* LAYOUT */
.layout{
    display:flex;
    height:100vh;
}

/* SIDEBAR */
.sidebar{
    width:240px;
    background:#111827;
    padding:20px;
}

.logo{
    margin-bottom:30px;
    font-size:20px;
}

.sidebar nav a{
    display:block;
    padding:12px;
    margin:8px 0;
    color:#cbd5e1;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.sidebar nav a:hover,
.sidebar nav .active{
    background:#2563eb;
    color:white;
}

/* MAIN */
.main{
    flex:1;
    padding:20px;
}

/* TOPBAR */
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.avatar{
    width:35px;
    height:35px;
    border-radius:50%;
    background:#2563eb;
}

/* CARDS */
.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding:20px;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    color:#94a3b8;
}

.card p{
    font-size:26px;
    margin-top:10px;
    color:#38bdf8;
}

/* TABLE */
.table-box{
    margin-top:30px;
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:15px;
}

table{
    width:100%;
    margin-top:10px;
    border-collapse:collapse;
}

th, td{
    padding:12px;
    border-bottom:1px solid #334155;
}

.success{ color:#22c55e; }
.pending{ color:#f59e0b; }
.failed{ color:#ef4444; }

/* MOBILE */
@media(max-width:900px){
    .grid{
        grid-template-columns:1fr 1fr;
    }

    .sidebar{
        width:180px;
    }
}